<% if project.active?(current_user)  %>
	<button class="btn btn-danger btn-large" name="stop" type="submit" style="margin-left:0;float:left">
		<i class="icon-pause icon-white"></i>
	</button>
<% else %>
	<button class="btn btn-success btn-large" name="go" type="submit" style="margin-left:0;float:left">
		<i class="icon-play icon-white"></i>
	</button>
<% end %>	
<button class="btn btn-warning btn-large" name="del" type="submit" style="float:right;" remote="true">
	<i class="icon-star icon-white"></i>
</button>
