<div id="projects">
  <div style="margin-left:auto;margin-right:auto"><%= will_paginate @schedules, renderer: BootstrapPagination::Rails, class: 'pagination pagination-sm' %></div>
  <div>
    <%= link_to addnew_schedules_path, remote: true do %>
      <div class="addnew img-rounded">
        <div>
          <i class="icon-plus-sign icon-4x"></i><br>
          Do something else...<br>
        </div>
      </div>
    <% end %>
    <div id="schedules">
      <%= render @schedules %>
    </div>
  </div>
</div>

