<div class="pagination">
     <%= will_paginate @schedules, :container => false %>
</div>

<% @schedules.each do |event| %>
	<%= render "event", event: event %>
<% end %>

<script>
$(function() {
	 $( ".autocomplete" ).autocomplete({
			source: $( "#<%= @schedules.first.id %>" ).data('autocomplete-source')
	});
});
</script>
