<nav>
  <ul class="nav pull-right">
    <li><a href="<%= root_path %>"><i class="icon-home"></i> Home</a></li>
    <li><a href="<%= schedules_path %>"><i class="icon-tasks"></i> Edit Schedule</a></li>
    <li><a href="<%= calendar_schedules_path %>"><i class="icon-calendar"></i> Calendar</a></li>
    <li><a href="<%= projects_path %>"><i class="icon-time"></i> Time Spent</a></li>
  </ul>
</nav>
