<nav>
  <ul class="nav pull-right">
    <li><a href="<%= root_path %>"><i class="icon-home"></i></a></li>
    <li><a href="<%= schedules_path %>"><i class="icon-tasks"></i></a></li>
    <li><a href="<%= calendar_schedules_path %>"><i class="icon-calendar"></i></a></li>
    <li><a href="<%= projects_path %>"><i class="icon-time"></i></a></li>
  </ul>
</nav>
